{% extends "base.html" %} 

{% load static %}
{% block style %}
.book-image {
    max-width: 300px;
    height: auto;
    border-radius: 8px;  /* 선택사항: 둥근 테두리 */
    display: block;
    margin: 10px 0;
}
{% endblock style %}


{% block content %}
<h1>도서 상세 페이지</h1>
<p><img src="{{book.cover_image.url}}" class="card-img-top book-image" alt="img" /></p>
<p>{{book.title}}</p>
<p>{{book.description}}</p>

<p>회원 리뷰 평점 : {{book.customer_review_rank}}/10</p>
<hr />
<p>{{book.author}}</p>
<p>
    <a href="{% url "books:update" book.pk %}"  class="btn btn-secondary">UPDATE</a>
    <a href="{% url "books:delete" book.pk %}"  class="btn btn-danger">DELETE</a>
</p>
<hr />

<p>
    <a href="{% url "books:index"%}" class="btn btn-primary">BACK</a>
</p>

{% endblock content %}
